absl-py==1.0.0
astunparse==1.6.3
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.11
colorama==0.4.4
cycler==0.11.0
Cython==0.29.27
dill==0.3.4
dm-tree==0.1.6
flatbuffers==2.0
fonttools==4.29.1
gast==0.4.0
gin-config==0.5.0
google-api-core==2.5.0
google-api-python-client==2.37.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
h5py==3.6.0
httplib2==0.20.4
idna==3.3
imageio==2.16.0
immutabledict==2.2.1
importlib-metadata==4.11.0
joblib==1.1.0
kaggle==1.5.12
keras==2.10.0
keras-nightly==2.11.0.dev2022092807
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
lxml==4.9.1
Markdown==3.3.6
matplotlib==3.5.1
networkx==2.6.3
numpy==1.22.2
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python-headless==4.5.2.52
OpenEXR==1.3.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.0
Pillow==9.0.1
portalocker==2.3.2
promise==2.3
protobuf==3.19.4
psutil==5.9.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pyparsing==3.0.7
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==5.4.1
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sacrebleu==2.2.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
sentencepiece==0.1.96
seqeval==1.2.2
SimpleITK==2.1.1
six==1.16.0
tabulate==0.8.9
tb-nightly==2.11.0a20220928
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-addons==0.15.0
tensorflow-datasets==4.5.2
tensorflow-estimator==2.10.0
tensorflow-graphics==2021.12.3
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-metadata==1.6.0
tensorflow-model-optimization==0.7.1
tensorflow-text==2.10.0
tensorflow-text-nightly==2.11.0.dev20220928
termcolor==1.1.0
text-unidecode==1.3
tf-estimator-nightly==2.11.0.dev2022092808
tf-models-nightly==2.10.0.dev20220928
tf-nightly==2.11.0.dev20220928
tf-slim==1.1.0
threadpoolctl==3.1.0
tifffile==2022.2.9
tqdm==4.62.3
trimesh==3.10.0
typeguard==2.13.3
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.13.3
zipp==3.7.0
